<h3>Cart</h3>

<div class="cart-item" *ngFor="let menu of menu">
  <div class="col-sm">
          <div class="card shadow-sm" >
            <img class="img-thumbnail" src="{{menu.image}}">
            <div class="card-body">
              <p class="card-text">{{menu.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">9 mins</small>
              </div>
          </div>
        </div>
      </div>
</div>
