<div class="container sticky-top">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <h3 class="text-decoration-underline">A LA CARTA</h3>
    </a>




    <div class=" text-end">
      <div class="d-flex" *ngIf="isloged()">
        <div class="me-2 pe-2">

        </div>
        <button type="button" class="btn btn-outline-primary btn-danger text-light tooltips" (click)="logoutUser()" (click)="handleClear()">Logout</button>
      </div>
    </div>



  </header>


</div>

<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold">A LA CARTA</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Restaurante que ofrece platos de gran calidad y que satisface a sus clientes
      hace más de 40 años brindando un menú variado que alcanza los gustos de los diferentes
      consumidores.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    </div>
  </div>
</div>


<app-menu></app-menu>





