
<app-search></app-search>

<!--

<div class="container pe-5">
   <ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
      <li class="col-sm" *ngFor="let menu of menu">
        <div class="col-sm">
          <div class="card shadow-sm" >
            <img class="img-thumbnail" src="{{menu.image}}">
            <div class="card-body">
              <p class="card-text">{{menu.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button (click)="onItemDetail(menu.id)" type="button" class="btn btn-sm btn-outline-dark">Detalle</button>
                  <button id="add" (click)="addToCart(menu)"  type="button" class="btn btn-sm btn-outline-success">Add to Menu</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

-->



<app-choice-menu></app-choice-menu>








