
<app-search></app-search>

<!--

<div class="container pe-5">
   <ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
      <li class="col-sm" *ngFor="let menu of menu">
        <div class="col-sm">
          <div class="card shadow-sm" >
            <img class="img-thumbnail" src="{{menu.image}}">
            <div class="card-body">
              <p class="card-text">{{menu.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button (click)="onItemDetail(menu.id)" type="button" class="btn btn-sm btn-outline-dark">Detalle</button>
                  <button id="add" (click)="addToCart(menu)"  type="button" class="btn btn-sm btn-outline-success">Add to Menu</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

-->

<div class="container">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" >

    <h1 class="display-4 fw-bold lh-1 mt-3">Mi menu</h1>


    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3" >
      <h1 class="display-4 fw-bold lh-1">{{menu.title}}</h1>
      <div innerHTML="{{menu.summary}}"></div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src={{menu.image}} >
    </div>
    <span>
      <br>
    </span>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 text-black">
            <h4 class="my-0 fw-normal">Healt Score</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{menu.healthScore}}<small class="text-muted fw-light"> puntos</small></h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Tiempo de preparacion</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{menu.readyInMinutes}}<small class="text-muted fw-light"> minutes</small></h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 text-black ">
            <h4 class="my-0 fw-normal">Precio</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">${{menu.pricePerServing}}<small class="text-muted fw-light">/Unit</small></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>








